{% load staticfiles %}
<hr>
<footer class="footer is-white" style="margin-top: 20px;background-color: white;">
    <div class="columns">

      <div class="column has-text-right is-hidden-mobile is-mobile">
        <ul>
          <li>
            <a href="#link"><i class="fab fa-facebook-square"></i>&nbsp;Facebook</a></li>
          <li>
            <a href="#link"><i class="fab fa-twitter"></i>&nbsp;Twitter</a></li>
          <li>
            <a href="#link"><i class="fab fa-instagram"></i>&nbsp;Instagram</a></li>
        </ul>
      </div>

      <div class="column has-text-centered is-hidden-tablet is-mobile">
        <ul>
          <li>
            <a href="#link"><i class="fab fa-facebook-square"></i>&nbsp;Facebook</a></li>
          <li>
            <a href="#link"><i class="fab fa-twitter"></i>&nbsp;Twitter</a></li>
          <li>
            <a href="#link"><i class="fab fa-instagram"></i>&nbsp;Instagram</a></li>
        </ul>
      </div>

      <div class="column is-hidden-mobile">
        <div class="has-text-centered">
          <img src="{% static 'logo_img.png' %}">
        </div>
      </div>

      <div class="column has-text-centered is-hidden-tablet is-mobile">
        <ul>
          <li>
            <a href="mailto:info@bowling.pl">
              info@bowling.pl
            </a>
          </li>
          <li>
            +48 594 853 254
          </li>
          <li>
            <a href="#cennik">Cennik</a>
          </li>
          <li>
            <a href="#mapa">Mapa</a>
          </li>
        </ul>
      </div>


    <div class="column has-text-left is-hidden-mobile is-mobile">
        <ul>
          <li>
            <a href="mailto:info@bowling.pl">
              info@bowling.pl
            </a>
          </li>
          <li>
            +48 594 853 254
          </li>
          <li>
            <a href="#cennik">Cennik</a>
          </li>
          <li>
            <a href="#mapa">Mapa</a>
          </li>
        </ul>
      </div>


    </div>
</footer>
