{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/ico" sizes="32x32">
    <!-- Bulma -->
    <link rel="stylesheet" href="{% static 'bulma-0.7.4/css/bulma.min.css' %}">
    <!-- Bulma End -->
    <!-- Magnific popup CSS -->
    <link rel="stylesheet" href="{% static 'magnific-popup/magnific-popup.css' %}">
    <!-- Magnific popup CSS End -->
    <!-- Jquery -->
    <script src="{% static 'jquery/jquery.min.js' %}" charset="utf-8"></script>
    <!-- Jquery End -->
    <!-- Magnific popup JS -->
    <script src="{% static 'magnific-popup/jquery.magnific-popup.min.js' %}" charset="utf-8"></script>
    <!-- Magnific popup JS End -->
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="{% static 'font-awesome/all.min.css' %}">
    <script src="{% static 'font-awesome/all.min.js' %}" charset="utf-8"></script>
    <!-- Font-Awesome End -->
    <!-- Angular -->
    <script src="{% static 'angular/angular.min.js' %}" charset="utf-8"></script>

    {% block scripts %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript">
      var app = angular.module('KregielniaApp', []);
        app.config(['$interpolateProvider', function($interpolateProvider) {
        $interpolateProvider.startSymbol('{a');
        $interpolateProvider.endSymbol('a}');
      }]);

    </script>
  </head>

  <body ng-app="KregielniaApp">
    {% include './upper-bar.html' %}

    <div class="container">
    <!-- Logo -->
    <div class="columns is-mobile is-centered">
      <!-- is-hidden-mobile -->
      <div class="column is-half">
        <div class="has-text-centered">
          <a href="/"><img src="{% static 'logo.png' %}"></a>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <div class="tabs is-centered">
          <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="{% url 'rezerwacje' %}">Rezerwuj</a></li>
            <li><a href="{% url 'mapa' %}">Mapa</a></li>
            <li><a href="{% url 'cennik' %}">Cennik</a></li>
            <li><a href="{% url 'galeria' %}">Galeria</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="columns">
      {% block content %}{% endblock %}
    </div>
  </div>

{% include '_Main/footer.html' %}
  </body>
</html>
