{% extends '_Main/template.html' %}
{% load staticfiles %}
{% block title %}Galeria{% endblock %}
{% block scripts %}{% endblock %}
{% block content %}
<div class="column is-12">

  <div class="container">

    <div class="columns">
      <div class="column is-4">
        <a href="{% static 'images/gallery_1.jpg' %}" class="test-popup-link">
          <figure class="image is-square">
            <img src="{% static 'images/gallery_1.jpg' %}">
          </figure>
        </a>
      </div>
      <div class="column is-4">
        <a href="{% static 'images/gallery_2.jpg' %}" class="test-popup-link">
          <figure class="image is-square">
            <img src="{% static 'images/gallery_2.jpg' %}">
          </figure>
        </a>
      </div>
      <div class="column is-4">
        <a href="{% static 'images/gallery_3.jpg' %}" class="test-popup-link">
          <figure class="image is-square">
            <img src="{% static 'images/gallery_3.jpg' %}">
          </figure>
        </a>
      </div>
    </div>

    <div class="columns">
      <div class="column is-4">
        <a href="{% static 'images/gallery_4.jpg' %}" class="test-popup-link">
          <figure class="image is-square">
            <img src="{% static 'images/gallery_4.jpg' %}">
          </figure>
        </a>
      </div>
      <div class="column is-4">
        <a href="{% static 'images/gallery_5.jpg' %}" class="test-popup-link">
          <figure class="image is-square">
            <img src="{% static 'images/gallery_5.jpg' %}">
          </figure>
        </a>
      </div>
      <div class="column is-4">
        <a href="{% static 'images/gallery_6.jpg' %}" class="test-popup-link">
          <figure class="image is-square">
            <img src="{% static 'images/gallery_6.jpg' %}">
          </figure>
        </a>
      </div>
    </div>


  </div>

</div>

<script type="text/javascript">
  $('.test-popup-link').magnificPopup({
  type: 'image',
  gallery: {
    enabled: true
  }
  // other options
  });
</script>
{% endblock %}
