{% extends '_Main/template.html' %}
{% load staticfiles %}
{% block title %}Strona główna{% endblock %}
{% block scripts %}{% endblock %}
{% block content %}


<div class="column">
  <div class="container">
    <div class="columns">
      <div class="column is-mobile">
        <h1 class="title" style="margin-top: 15px;">O kręglach</h1>
        <b><h3 class="subtitle" style="margin-top: 15px;font-weight:bold;">Historia gry</h3></b>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <b><h3 class="subtitle" style="margin-top: 15px;font-weight:bold;">Zasady gry</h3></b>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <b><h3 class="subtitle" style="margin-top: 15px;font-weight:bold;">Punktacja</h3></b>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column">
        <hr>
        <h1 class="title has-text-centered">Aktualności</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{% static 'images/post_img_1.jpg' %}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h5 class="subtitle">Temat postu</h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris.
            </div>

          </div>
        </div>
        <!-- Card End -->
      </div>
      <div class="column">
        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{% static 'images/post_img_2.jpg' %}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h5 class="subtitle">Temat postu</h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris.
            </div>

          </div>
        </div>
        <!-- Card End -->
      </div>
      <div class="column">
        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{% static 'images/post_img_3.jpg' %}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h5 class="subtitle">Temat postu</h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris.
            </div>

          </div>
        </div>
        <!-- Card End -->
      </div>
    </div>
  </div>
</div>



{% endblock %}
