{% extends '_Main/auth-template.html' %}
{% load staticfiles %}
{% block title %}Rejestracja{% endblock %}
{% block scripts %}{% endblock %}
{% block content %}
<div class="column is-three-fifths is-offset-one-fifth">
  <p>
    <a href="/">Powróć do strony głównej</a>
  </p>
  <hr>
  <div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="text" placeholder="Imię">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </p>
</div>
  <div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="text" placeholder="Nazwisko">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </p>
</div>
  <div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="E-mail">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Hasło">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Powtórz Hasło">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <div class="field-body">
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox">
          Akceptuję <a href="#regulamin">regulamin</a> strony.
        </label>
      </div>
    </div>
  </div>
</div>
<div class="field">
  <p class="control">
    <button class="button is-success">
      Zaloguj
    </button>
  </p>
</div>
</div>
{% endblock %}
